.nbar{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nbar-ser{
    position: relative;
    width: 70%;
   }
@media screen and ( max-width:900px ) {
    .nbar-ser{
        width: 50%;
    }
}
.dropdown-menu {
    --bs-dropdown-link-active-bg: #ffbe58 !important;
}
.dropdown-toggle::after {
    content: none !important;
}
.form-control:focus {
    border-color: #ffbe58 !important;
    outline: 0 !important;
    box-shadow: 0 0 0 .25rem #ffbf5890 !important;
}
.btn-warning {
    --bs-btn-color: #ffbe58 !important;
    --bs-btn-bg: #ffc10740 !important;
    --bs-btn-border-color: #ffc107b3 !important;
    --bs-btn-hover-color: #ffbe58 !important;
    --bs-btn-hover-bg: rgba(255, 202, 44, 0.495) !important;
    --bs-btn-hover-border-color: rgba(255, 202, 44, 0.495) !important;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #ffbe58 !important;
    --bs-btn-active-bg: #ffce39ad !important;
    --bs-btn-active-border-color: #ffc7209f !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #000 !important;
    --bs-btn-disabled-bg: #ffc107 !important;
    --bs-btn-disabled-border-color: #ffc107 !important;
}
.caro-size{
 width: fit-content;
 height: fit-content;
}
.img{
    width: 100%;
}
.ipc-title__text {
    padding-left: .75rem;
    position: relative;
}
.ipc-title__text:before {
    background: #f5c518;
    background: #f5c518;
    border-radius: 4px;
    content: "";
    margin-left: -.75rem;
    align-self: flex-start;
    position: absolute;
    height: 100%;
    width: 4px;
}
/* --------------------------------------------------- */
.card-1{
  width: 70%;
  height: 90%;
}
.card {
    --bs-card-title-color: white !important;
    --bs-card-subtitle-color: white !important;
    --bs-card-border-color: black !important;
    --bs-card-cap-bg: black !important;
    --bs-card-cap-color: white !important;
    --bs-card-color: white !important;
    --bs-card-bg: black !important;
    color: white !important;
    background-color: black !important;
    border: var(--bs-card-border-width) solid var(black) !important;
}
.accordion{
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #d7b22a68 !important;
    color: #ffffff !important;
    background-color: #000 !important;
}
.accordion-button::after {
    color: white !important;
    background-color: #f5c518 !important;
    border-radius: 30% !important;
}
.accordion-button {
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    color: white !important;
    background-color: black !important;
}
.accordion-button:focus {
    box-shadow: #f5c518 !important;
}
.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #ffbe58 !important;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 #ffbe58 !important;
}
.star{
    color: white;
}
.star:hover{
    color: #ffbe58;
}
.logg{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.loggo{
    border-radius: 20px;
    margin: 20px;
}
/* -------------------------------------------- */


  
